.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.list_div {
  border-style: solid;
  border-width: 2px;
  margin-top: 50px;
  margin-left: 30%;
  margin-right: 30%;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #dedede;
}

.film_div {
  padding-top: 6px;
  padding-bottom: 6px;
}

.link-div {
  background-color: #aac2e3;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom:10px;
  text-align: center;
}

.title {
  font-size: 30px;
}

a:link {
  text-decoration: none;
}

.film-name {
  color: #2362b8;
}

.link {
  color: #2362b8;
}
